body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
    text-align: center;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
  } 
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-keywindow {
    text-align: center;
  }

  .form-snsSub input[type="text"] {
    margin-bottom: 10px;
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
  } 
  /*
    Original version: http://www.bootply.com/128062
    
    This version adds support for IE 10+ and Firefox.
*/

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}